.admin-product-layout {
    padding: 2rem;
  }
  
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  
  .product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    width: calc(25% - 2rem); /* Adjust width as necessary */
    background: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .product-name {
    font-weight: bold;
    margin-top: 1rem;
  }
  